@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto";
}
::-webkit-scrollbar{
  width: 0;
}
:root{
  --light-bg: #fff;
  --dark-bg: #000;
  --light-grey-bg: #ccc;
  --light-dark-bg:#252525;
}
body{
  width: 100%;
  background-color: var(--light-bg);
}
:root{
  --primary-bg: #26577C;
  --secondary-bg: #E55604;
  --third-bg: #B4B4B3;
  --fourth-bg: #EBE4D1;
  --fw-800: 800;
  --fw-600: 600;
  --fw-400: 400;
  --fw-300: 300;
  --light-font: #ffff;
  --dark-font: #000;
}
/********************* REUSED LINKS *************************/
body{
  width: 100%;
}
a{
  color: var(--light-font);
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
  text-decoration-color: var(--light-font);
  text-underline-offset: .2rem;
}
header{
  width: 100%;
}
.nav1{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2% 10px;
  background-color: var(--primary-bg);
}
.nav1 > .contact-links,
.nav1 > .follow-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.follow-links > ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
/*************************** MAIN NAV ******************************/
.logo{
  width: 150px;
  height: 150px;
}